@mixin posEL() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_div {
  width: 100vw;
  height: 100vh;
  @include posEL();
  .main_ul {
    @include posEL();
    gap: 30px;
    .main_li {
      transition: transform 0.5s ease;
      height: 50vh;
      width: 15vw;
      @include posEL();
      @for $i from 1 to 6 {
        $red: random(255);
        $green: random(255);
        $blue: random(255);
        &:nth-child(#{$i}) {
          background-color: rgb($red, $green, $blue);
          &:hover {
            background-color: rgba($red, $green, $blue, 0.547);
            cursor: crosshair;
            transform: scale(1.23);
          }
        }
      }
    }
  }
}
