// #btn{
//     width: 20px;
// }

// #myButton1 { padding: 10px 20px; background-color: lightblue; border: none; cursor: pointer; }
.button { padding: 10px 20px; background-color: lightblue; border: none; cursor: pointer; margin: 5px; }
 #counter { font-size: 20px; margin-top: 10px; }